* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	background-color: rgb(22, 23, 26);
	overflow: hidden;
}

button {
	padding: 10px;
	height: 50px;
	min-width: 50px;
	background-color: rgb(250, 242, 228);
	border: none;
	font-weight: 600;
	border-radius: 3px;
}
.main-container {
	scale: 1.2;
}

.results-container {
	background-color: rgb(22, 23, 26);
	width: 100%;
	padding: 30px;
	text-align: center;
	color: white;
	font-size: 20px;
}

.buttons-container {
	display: flex;
	width: 100%;
	background-color: rgb(22, 23, 26);
	padding: 20px;
	justify-content: center;
	flex: 1;
	border-radius: 3px;
}

.wrapper {
	display: flex;
	flex-basis: 00px;
}

.buttons {
	display: flex;
	flex-direction: column;
	margin: 0 5px;
	gap: 10px;
}

.buttons button,
#backspace {
	background-color: rgb(255, 213, 140);
}

.numbers {
	display: flex;
	gap: 10px;
	flex-flow: row wrap;
	align-content: space-between;
	flex-basis: 180px;
}

.numbers button {
	flex-basis: 30px;
	height: 55px;
}

#equal {
	flex: 1;
}

#ac {
	flex: 1;
}

#add {
	flex: 1;
}
